@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.gift {
  width: 50px;
  height: 50px;
}

.giftGros {
  width: 100px;
  height: 100px;
}

:root {
  --left: 50%;
  --left1: 10%;
  --left2: 20%;
  --left3: 70%;
  --left4: 95%;
}

.giftpos {
  left: var(--left);
  animation: MoveUpDown 4s linear infinite;
  -webkit-animation: MoveUpDown 4s linear infinite;
  z-index: 10;
}

.giftposGros1 {
  left: var(--left1);
  animation: MoveUpDown 4s linear infinite;
  -webkit-animation: MoveUpDown 4s linear infinite;
  z-index: 10;
}

.giftposGros2 {
  left: var(--left2);
  animation: MoveUpDown 4s linear infinite;
  -webkit-animation: MoveUpDown 4s linear infinite;
  z-index: 10;
}

.giftposGros3 {
  left: var(--left3);
  animation: MoveUpDown 4s linear infinite;
  -webkit-animation: MoveUpDown 4s linear infinite;
  z-index: 10;
}

.giftposGros4 {
  left: var(--left4);
  animation: MoveUpDown 4s linear infinite;
  -webkit-animation: MoveUpDown 4s linear infinite;
  z-index: 10;
}

@keyframes MoveUpDown {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}

#over {
  font-family: "Press Start 2p";
}

li {
  font-family: "Press Start 2p";
}
